In [2]:
import pandas as pd
%matplotlib inline

## Clean and label first data source

#### First data source fake

In [3]:
first_source_fake = pd.read_csv('Capstone_data/fake_and_real_news/Fake.csv')
first_source_fake.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23481 entries, 0 to 23480
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   title    23481 non-null  object
 1   text     23481 non-null  object
 2   subject  23481 non-null  object
 3   date     23481 non-null  object
dtypes: object(4)
memory usage: 733.9+ KB

In [4]:
# 1. check for missing values and handle them (No null values)
first_source_fake.isnull().sum()

title      0
text       0
subject    0
date       0
dtype: int64

In [5]:
# 3. add a class column with label fake
first_source_fake['class']='Fake'
# drop all columns except title,text and class
first_source_fake_final =first_source_fake.drop(['subject','date'],axis=1)
first_source_fake_final.head()
# 4. Perform EDA with graphs to visualize the data
# 5. are there outliers?

,title,text,class
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,Fake
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,Fake
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",Fake
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",Fake
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,Fake

#### First data source real

In [6]:
first_source_real = pd.read_csv('Capstone_data/fake_and_real_news/True.csv')
first_source_real.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21417 entries, 0 to 21416
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   title    21417 non-null  object
 1   text     21417 non-null  object
 2   subject  21417 non-null  object
 3   date     21417 non-null  object
dtypes: object(4)
memory usage: 669.4+ KB

In [7]:
#1. check for missing values and handle them (No null values)
first_source_real.isnull().sum()

title      0
text       0
subject    0
date       0
dtype: int64

In [8]:
# 3. add a class column with label real
first_source_real['class'] = 'Real'
# drop all columns except title,text and class 
first_source_real_final =first_source_real.drop(['subject','date'],axis=1)
first_source_real_final.head()

,title,text,class
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,Real
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,Real
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,Real
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,Real
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,Real

In [9]:
# Combine the two labeled datasets

## Clean second data source

In [10]:
#1. check for missing values and handle them 
second_source_train.isnull().sum()

NameError: name 'second_source_train' is not defined

In [11]:
second_source_train = pd.read_csv('Capstone_data/fake_news_dataset/train.csv')
## drop all columns except title, text and class 
second_source_train_final = second_source_train.drop(['index','subject', 'date','Unnamed: 6'],axis=1)
second_source_train_final.head()

,title,text,class
0,PRESIDENT TRUMP Explains New “America First” R...,That s what we re talking about! Another campa...,Fake
1,TERMINALLY ILL FORMER MISS WI: “Until my last ...,How is it that Sean Hannity is the only media ...,Fake
2,Cruz Humiliated By Moderator After Lie About ...,Almost immediately after learning that longtim...,Fake
3,"Russia revels in Trump victory, looks to sanct...",MOSCOW (Reuters) - For all their mutual praise...,Real
4,Trump's bid to open U.S. monuments to developm...,WASHINGTON (Reuters) - The Trump administratio...,Real

#### We will keep this without label to be used as test set

In [13]:
#1. check for missing values and handle them (No null values)
second_source_test = pd.read_csv('Capstone_data/fake_news_dataset/test.csv')
second_source_test.isnull().sum()

index      0
title      0
text       0
subject    0
date       0
dtype: int64

In [14]:
## drop all columns except title, text and class 
second_source_test_final = second_source_test.drop(['index','subject', 'date'],axis=1)
second_source_test_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4000 entries, 0 to 3999
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   title   4000 non-null   object
 1   text    4000 non-null   object
dtypes: object(2)
memory usage: 62.6+ KB

## Clean and label third data source

In [15]:
third_source_fake = pd.read_csv('Capstone_data/getting_real_about_fake_news/fake.csv')
third_source_fake.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12999 entries, 0 to 12998
Data columns (total 20 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   uuid                12999 non-null  object
 1   ord_in_thread       12999 non-null  int64
 2   author              10575 non-null  object
 3   published           12999 non-null  object
 4   title               12319 non-null  object
 5   text                12953 non-null  object
 6   language            12999 non-null  object
 7   crawled             12999 non-null  object
 8   site_url            12999 non-null  object
 9   country             12823 non-null  object
 10  domain_rank         8776 non-null   float64
 11  thread_title        12987 non-null  object
 12  spam_score          12999 non-null  float64
 13  main_img_url        9356 non-null   object
 14  replies_count       12999 non-null  int64
 15  participants_count  12999 non-null  int64
 16  likes               12999 non-null  int64
 17  comments            12999 non-null  int64
 18  shares              12999 non-null  int64
 19  type                12999 non-null  object
dtypes: float64(2), int64(6), object(12)
memory usage: 2.0+ MB

In [16]:
#Drop all columns besides text, title and class
## drop all columns except title, text and class 
third_source_fake_final = third_source_fake.drop(['uuid','ord_in_thread', 'author','published','language',
                                                           'crawled','site_url','country','domain_rank',
                                                 'thread_title','spam_score','main_img_url','replies_count',
                                                'participants_count','likes','comments','shares','type'],axis=1)
third_source_fake_final.head()

# #change column name from label to class
third_source_fake_final['class']='Fake'
third_source_fake_final

,title,text,class
0,Muslims BUSTED: They Stole Millions In Gov’t B...,Print They should pay all the back all the mon...,Fake
1,Re: Why Did Attorney General Loretta Lynch Ple...,Why Did Attorney General Loretta Lynch Plead T...,Fake
2,BREAKING: Weiner Cooperating With FBI On Hilla...,Red State : \nFox News Sunday reported this mo...,Fake
3,PIN DROP SPEECH BY FATHER OF DAUGHTER Kidnappe...,Email Kayla Mueller was a prisoner and torture...,Fake
4,FANTASTIC! TRUMP'S 7 POINT PLAN To Reform Heal...,Email HEALTHCARE REFORM TO MAKE AMERICA GREAT ...,Fake
...,...,...,...
12994,NaN,It DOES allow you to put a dog face on top of ...,Fake
12995,NaN,Wait till you see what happens to the valuatio...,Fake
12996,NaN,I'm waiting for the one that puts a pussy on m...,Fake
12997,NaN,$4 Billion even after they are known to be kee...,Fake
12998,NaN,of course - how else would they disceminate te...,Fake

In [17]:
#1. check for missing values and handle them
third_source_fake_final.isnull().sum()

title    680
text      46
class      0
dtype: int64

In [18]:
#Drop rows with null values
third_source_fake_final.dropna(inplace=True)
third_source_fake_final.reset_index(inplace=True,drop=True) #reset index so that we havee an accurate index for our output dataset
print(third_source_fake_final.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12273 entries, 0 to 12272
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   title   12273 non-null  object
 1   text    12273 non-null  object
 2   class   12273 non-null  object
dtypes: object(3)
memory usage: 287.8+ KB
None

In [19]:
third_source_fake_final.head()

,title,text,class
0,Muslims BUSTED: They Stole Millions In Gov’t B...,Print They should pay all the back all the mon...,Fake
1,Re: Why Did Attorney General Loretta Lynch Ple...,Why Did Attorney General Loretta Lynch Plead T...,Fake
2,BREAKING: Weiner Cooperating With FBI On Hilla...,Red State : \nFox News Sunday reported this mo...,Fake
3,PIN DROP SPEECH BY FATHER OF DAUGHTER Kidnappe...,Email Kayla Mueller was a prisoner and torture...,Fake
4,FANTASTIC! TRUMP'S 7 POINT PLAN To Reform Heal...,Email HEALTHCARE REFORM TO MAKE AMERICA GREAT ...,Fake

## Clean fourth data source

In [20]:
fourth_source_articles = pd.read_csv('Capstone_data/source_based_news_classification/news_articles.csv')
fourth_source_articles
fourth_source_articles.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2096 entries, 0 to 2095
Data columns (total 12 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   author                   2096 non-null   object
 1   published                2096 non-null   object
 2   title                    2096 non-null   object
 3   text                     2050 non-null   object
 4   language                 2095 non-null   object
 5   site_url                 2095 non-null   object
 6   main_img_url             2095 non-null   object
 7   type                     2095 non-null   object
 8   label                    2095 non-null   object
 9   title_without_stopwords  2094 non-null   object
 10  text_without_stopwords   2046 non-null   object
 11  hasImage                 2095 non-null   float64
dtypes: float64(1), object(11)
memory usage: 196.6+ KB

In [21]:
#1. check for missing values and handle them
fourth_source_articles.isnull().sum()

author                      0
published                   0
title                       0
text                       46
language                    1
site_url                    1
main_img_url                1
type                        1
label                       1
title_without_stopwords     2
text_without_stopwords     50
hasImage                    1
dtype: int64

In [22]:
## drop all columns except title, text and class 
fourth_source_articles_final = fourth_source_articles.drop(['author','published', 'language','site_url','main_img_url',
                                                           'type','title_without_stopwords','text_without_stopwords',
                                                           'hasImage'],axis=1)
fourth_source_articles_final.head()

#change column name from label to class
fourth_source_articles_final.rename(columns ={'title':'title', 'text':'text', 'label':'class'}, inplace=True)

fourth_source_articles_final

,title,text,class
0,muslims busted they stole millions in govt ben...,print they should pay all the back all the mon...,Real
1,re why did attorney general loretta lynch plea...,why did attorney general loretta lynch plead t...,Real
2,breaking weiner cooperating with fbi on hillar...,red state \nfox news sunday reported this mor...,Real
3,pin drop speech by father of daughter kidnappe...,email kayla mueller was a prisoner and torture...,Real
4,fantastic trumps point plan to reform healthc...,email healthcare reform to make america great ...,Real
...,...,...,...
2091,teens walk free after gangrape conviction,NaN,Real
2092,school named for munichmassacre mastermind,NaN,Real
2093,russia unveils satan missile,NaN,Fake
2094,check out hillarythemed haunted house,NaN,Fake
2095,cannabis aficionados develop thca crystalline ...,NaN,NaN

In [23]:
#handle null values 
fourth_source_articles_final.isnull().sum()

title     0
text     46
class     1
dtype: int64

In [24]:
#Drop rows with null values
fourth_source_articles_final.dropna(inplace=True)
fourth_source_articles_final.reset_index(inplace=True,drop=True) #reset index so that we havee an accurate index for our output dataset
print(fourth_source_articles_final.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2050 entries, 0 to 2049
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   title   2050 non-null   object
 1   text    2050 non-null   object
 2   class   2050 non-null   object
dtypes: object(3)
memory usage: 48.2+ KB
None

In [25]:
fourth_source_articles_final.head()

,title,text,class
0,muslims busted they stole millions in govt ben...,print they should pay all the back all the mon...,Real
1,re why did attorney general loretta lynch plea...,why did attorney general loretta lynch plead t...,Real
2,breaking weiner cooperating with fbi on hillar...,red state \nfox news sunday reported this mor...,Real
3,pin drop speech by father of daughter kidnappe...,email kayla mueller was a prisoner and torture...,Real
4,fantastic trumps point plan to reform healthc...,email healthcare reform to make america great ...,Real

## Combine all the datasets

In [26]:
data_frames = [first_source_fake_final,first_source_real_final,third_source_fake_final,fourth_source_articles_final]
data = pd.concat(data_frames)
data
#data.isnull().sum()

,title,text,class
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,Fake
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,Fake
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",Fake
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",Fake
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,Fake
...,...,...,...
2045,trump vs clinton a risk vs a disaster,check out hillarythemed haunted house anticlin...,Real
2046,gingrich slutshames megyn kelly,good samaritan wearing indian headdress disarm...,Real
2047,youtube bans clintons black son,skype sex scam a fortune built on shame moroc...,Real
2048,wikileaks bombshells on hillary you need to know,posted by eddie while the skyhigh potency may ...,Real
2049,fascinated with sex,billion even after they are known to be keepin...,Real

## Pre-process the title and text

In [27]:
#pip install spacy

In [24]:
#!python -m spacy download en_core_web_sm

Requirement already satisfied: en-core-web-sm==3.0.0 from https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.0.0/en_core_web_sm-3.0.0-py3-none-any.whl#egg=en_core_web_sm==3.0.0 in /Users/meley/.pyenv/versions/3.7.0/lib/python3.7/site-packages (3.0.0)
Requirement already satisfied: spacy<3.1.0,>=3.0.0 in /Users/meley/.pyenv/versions/3.7.0/lib/python3.7/site-packages (from en-core-web-sm==3.0.0) (3.0.5)
Requirement already satisfied: srsly<3.0.0,>=2.4.0 in /Users/meley/.pyenv/versions/3.7.0/lib/python3.7/site-packages (from spacy<3.1.0,>=3.0.0->en-core-web-sm==3.0.0) (2.4.0)
Requirement already satisfied: pathy>=0.3.5 in /Users/meley/.pyenv/versions/3.7.0/lib/python3.7/site-packages (from spacy<3.1.0,>=3.0.0->en-core-web-sm==3.0.0) (0.4.0)
Requirement already satisfied: preshed<3.1.0,>=3.0.2 in /Users/meley/.pyenv/versions/3.7.0/lib/python3.7/site-packages (from spacy<3.1.0,>=3.0.0->en-core-web-sm==3.0.0) (3.0.5)
Requirement already satisfied: numpy>=1.15.0 in /Users/meley/.pyenv/versions/3.7.0/lib/python3.7/site-packages (from spacy<3.1.0,>=3.0.0->en-core-web-sm==3.0.0) (1.20.1)
Requirement already satisfied: pydantic<1.8.0,>=1.7.1 in /Users/meley/.pyenv/versions/3.7.0/lib/python3.7/site-packages (from spacy<3.1.0,>=3.0.0->en-core-web-sm==3.0.0) (1.7.3)
Requirement already satisfied: setuptools in /Users/meley/.pyenv/versions/3.7.0/lib/python3.7/site-packages (from spacy<3.1.0,>=3.0.0->en-core-web-sm==3.0.0) (39.0.1)
Requirement already satisfied: spacy-legacy<3.1.0,>=3.0.0 in /Users/meley/.pyenv/versions/3.7.0/lib/python3.7/site-packages (from spacy<3.1.0,>=3.0.0->en-core-web-sm==3.0.0) (3.0.1)
Requirement already satisfied: packaging>=20.0 in /Users/meley/.pyenv/versions/3.7.0/lib/python3.7/site-packages (from spacy<3.1.0,>=3.0.0->en-core-web-sm==3.0.0) (20.9)
Requirement already satisfied: blis<0.8.0,>=0.4.0 in /Users/meley/.pyenv/versions/3.7.0/lib/python3.7/site-packages (from spacy<3.1.0,>=3.0.0->en-core-web-sm==3.0.0) (0.7.4)
Requirement already satisfied: jinja2 in /Users/meley/.pyenv/versions/3.7.0/lib/python3.7/site-packages (from spacy<3.1.0,>=3.0.0->en-core-web-sm==3.0.0) (2.11.3)
Requirement already satisfied: tqdm<5.0.0,>=4.38.0 in /Users/meley/.pyenv/versions/3.7.0/lib/python3.7/site-packages (from spacy<3.1.0,>=3.0.0->en-core-web-sm==3.0.0) (4.59.0)
Requirement already satisfied: murmurhash<1.1.0,>=0.28.0 in /Users/meley/.pyenv/versions/3.7.0/lib/python3.7/site-packages (from spacy<3.1.0,>=3.0.0->en-core-web-sm==3.0.0) (1.0.5)
Requirement already satisfied: cymem<2.1.0,>=2.0.2 in /Users/meley/.pyenv/versions/3.7.0/lib/python3.7/site-packages (from spacy<3.1.0,>=3.0.0->en-core-web-sm==3.0.0) (2.0.5)
Requirement already satisfied: importlib-metadata>=0.20; python_version < "3.8" in /Users/meley/.pyenv/versions/3.7.0/lib/python3.7/site-packages (from spacy<3.1.0,>=3.0.0->en-core-web-sm==3.0.0) (3.7.3)
Requirement already satisfied: requests<3.0.0,>=2.13.0 in /Users/meley/.pyenv/versions/3.7.0/lib/python3.7/site-packages (from spacy<3.1.0,>=3.0.0->en-core-web-sm==3.0.0) (2.25.1)
Requirement already satisfied: thinc<8.1.0,>=8.0.2 in /Users/meley/.pyenv/versions/3.7.0/lib/python3.7/site-packages (from spacy<3.1.0,>=3.0.0->en-core-web-sm==3.0.0) (8.0.2)
Requirement already satisfied: catalogue<2.1.0,>=2.0.1 in /Users/meley/.pyenv/versions/3.7.0/lib/python3.7/site-packages (from spacy<3.1.0,>=3.0.0->en-core-web-sm==3.0.0) (2.0.1)
Requirement already satisfied: typer<0.4.0,>=0.3.0 in /Users/meley/.pyenv/versions/3.7.0/lib/python3.7/site-packages (from spacy<3.1.0,>=3.0.0->en-core-web-sm==3.0.0) (0.3.2)
Requirement already satisfied: wasabi<1.1.0,>=0.8.1 in /Users/meley/.pyenv/versions/3.7.0/lib/python3.7/site-packages (from spacy<3.1.0,>=3.0.0->en-core-web-sm==3.0.0) (0.8.2)
Requirement already satisfied: typing-extensions<4.0.0.0,>=3.7.4; python_version < "3.8" in /Users/meley/.pyenv/versions/3.7.0/lib/python3.7/site-packages (from spacy<3.1.0,>=3.0.0->en-core-web-sm==3.0.0) (3.7.4.3)
Requirement already satisfied: smart-open<4.0.0,>=2.2.0 in /Users/meley/.pyenv/versions/3.7.0/lib/python3.7/site-packages (from pathy>=0.3.5->spacy<3.1.0,>=3.0.0->en-core-web-sm==3.0.0) (3.0.0)
Requirement already satisfied: pyparsing>=2.0.2 in /Users/meley/.pyenv/versions/3.7.0/lib/python3.7/site-packages (from packaging>=20.0->spacy<3.1.0,>=3.0.0->en-core-web-sm==3.0.0) (2.4.7)
Requirement already satisfied: MarkupSafe>=0.23 in /Users/meley/.pyenv/versions/3.7.0/lib/python3.7/site-packages (from jinja2->spacy<3.1.0,>=3.0.0->en-core-web-sm==3.0.0) (1.1.1)
Requirement already satisfied: zipp>=0.5 in /Users/meley/.pyenv/versions/3.7.0/lib/python3.7/site-packages (from importlib-metadata>=0.20; python_version < "3.8"->spacy<3.1.0,>=3.0.0->en-core-web-sm==3.0.0) (3.4.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /Users/meley/.pyenv/versions/3.7.0/lib/python3.7/site-packages (from requests<3.0.0,>=2.13.0->spacy<3.1.0,>=3.0.0->en-core-web-sm==3.0.0) (1.26.4)
Requirement already satisfied: chardet<5,>=3.0.2 in /Users/meley/.pyenv/versions/3.7.0/lib/python3.7/site-packages (from requests<3.0.0,>=2.13.0->spacy<3.1.0,>=3.0.0->en-core-web-sm==3.0.0) (4.0.0)
Requirement already satisfied: certifi>=2017.4.17 in /Users/meley/.pyenv/versions/3.7.0/lib/python3.7/site-packages (from requests<3.0.0,>=2.13.0->spacy<3.1.0,>=3.0.0->en-core-web-sm==3.0.0) (2020.12.5)
Requirement already satisfied: idna<3,>=2.5 in /Users/meley/.pyenv/versions/3.7.0/lib/python3.7/site-packages (from requests<3.0.0,>=2.13.0->spacy<3.1.0,>=3.0.0->en-core-web-sm==3.0.0) (2.10)
Requirement already satisfied: click<7.2.0,>=7.1.1 in /Users/meley/.pyenv/versions/3.7.0/lib/python3.7/site-packages (from typer<0.4.0,>=0.3.0->spacy<3.1.0,>=3.0.0->en-core-web-sm==3.0.0) (7.1.2)
You are using pip version 10.0.1, however version 21.0.1 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.
✔ Download and installation successful
You can now load the package via spacy.load('en_core_web_sm')

In [5]:
import spacy
import pandas as pd
import numpy as np
import nltk
from nltk.tokenize.toktok import ToktokTokenizer
import re
from bs4 import BeautifulSoup
from contractions import CONTRACTION_MAP
import unicodedata
import en_core_web_sm
#nlp = spacy.load('en_core', parse = True, tag=True, entity=True)
nlp = spacy.load('en_core_web_sm')
#nlp_vec = spacy.load('en_vecs', parse = True, tag=True, #entity=True)
tokenizer = ToktokTokenizer()
stopword_list = nltk.corpus.stopwords.words('english')
stopword_list.remove('no')
stopword_list.remove('not')

ModuleNotFoundError: No module named 'en_core_web_sm'

In [2]:
def strip_html_tags(text):
    soup = BeautifulSoup(text, "html.parser")
    stripped_text = soup.get_text()
    return stripped_text

In [109]:
def remove_accented_chars(text):
    text = unicodedata.normalize('NFKD', text).encode('ascii', 'ignore').decode('utf-8', 'ignore')
    return text

In [110]:
def expand_contractions(text, contraction_mapping=CONTRACTION_MAP):
    
    contractions_pattern = re.compile('({})'.format('|'.join(contraction_mapping.keys())), 
                                      flags=re.IGNORECASE|re.DOTALL)
    def expand_match(contraction):
        match = contraction.group(0)
        first_char = match[0]
        expanded_contraction = contraction_mapping.get(match)\
                                if contraction_mapping.get(match)\
                                else contraction_mapping.get(match.lower())                       
        expanded_contraction = first_char+expanded_contraction[1:]
        return expanded_contraction
        
    expanded_text = contractions_pattern.sub(expand_match, text)
    expanded_text = re.sub("'", "", expanded_text)
    return expanded_text

NameError: name 'CONTRACTION_MAP' is not defined

In [111]:
def remove_special_characters(text, remove_digits=False):
    pattern = r'[^a-zA-z0-9\s]' if not remove_digits else r'[^a-zA-z\s]'
    text = re.sub(pattern, '', text)
    return text

In [112]:
def simple_stemmer(text):
    ps = nltk.porter.PorterStemmer()
    text = ' '.join([ps.stem(word) for word in text.split()])
    return text

In [113]:
def lemmatize_text(text):
    text = nlp(text)
    text = ' '.join([word.lemma_ if word.lemma_ != '-PRON-' else word.text for word in text])
    return text

In [114]:

def remove_stopwords(text, is_lower_case=False):
    tokens = tokenizer.tokenize(text)
    tokens = [token.strip() for token in tokens]
    if is_lower_case:
        filtered_tokens = [token for token in tokens if token not in stopword_list]
    else:
        filtered_tokens = [token for token in tokens if token.lower() not in stopword_list]
    filtered_text = ' '.join(filtered_tokens)    
    return filtered_text

In [118]:
def normalize_corpus(corpus, html_stripping=True, contraction_expansion=True,
                     accented_char_removal=True, text_lower_case=True, 
                     text_lemmatization=True, special_char_removal=True, 
                     stopword_removal=True, remove_digits=True):
    
    normalized_corpus = []
    # normalize each document in the corpus
    for doc in corpus:
        # strip HTML
#         if html_stripping:
#             doc = strip_html_tags(doc)
        # remove accented characters
        if accented_char_removal:
            doc = remove_accented_chars(doc)
        # expand contractions    
        if contraction_expansion:
            doc = expand_contractions(doc)
        # lowercase the text    
        if text_lower_case:
            doc = doc.lower()
        # remove extra newlines
        doc = re.sub(r'[\r|\n|\r\n]+', ' ',doc)
        # lemmatize text
        if text_lemmatization:
            doc = lemmatize_text(doc)
        # remove special characters and\or digits    
        if special_char_removal:
            # insert spaces between special characters to isolate them    
            special_char_pattern = re.compile(r'([{.(-)!}])')
            doc = special_char_pattern.sub(" \\1 ", doc)
            doc = remove_special_characters(doc, remove_digits=remove_digits)  
        # remove extra whitespace
        doc = re.sub(' +', ' ', doc)
        # remove stopwords
        if stopword_removal:
            doc = remove_stopwords(doc, is_lower_case=text_lower_case)
            
        normalized_corpus.append(doc)
        
    return normalized_corpus

In [119]:
#Combine title and text 
data['full_text']= data["title"].map(str)+ '. ' + data["text"]
data.head()

,title,text,class,full_text
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,Fake,Donald Trump Sends Out Embarrassing New Year’...
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,Fake,Drunk Bragging Trump Staffer Started Russian ...
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",Fake,Sheriff David Clarke Becomes An Internet Joke...
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",Fake,Trump Is So Obsessed He Even Has Obama’s Name...
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,Fake,Pope Francis Just Called Out Donald Trump Dur...

In [120]:
#pre-process full-text and store in new column clean_text
data['clean_text'] = normalize_corpus(data['full_text'])

NameError: name 'unicodedata' is not defined